/******************
GENERAL
******************/

body {
	box-sizing: border-box;
	background-image: url(wood_background.jpg);
}

.container-fluid{
	background-color: black;
}

p{
	font-family:'Work Sans', sans-serif;
}



/******************
NAVBAR
******************/

.navbar-collapse {
	background-color:#000;
}

.navbar-header {
	font-family:'Bitter', serif;
	background-color:black;
}

.navbar-brand {
	color: white; 
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; 
	font-size: 40px;
	font-family:'Bitter', serif; 
	margin-bottom: 10px;
	margin-left: 15px;
}



/******************
JUMBOTRON
******************/
.jumbotron {
	background-image: url(craftbeer.jpg);
	background-position: center; 
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron .container {
    width: fit-content;
    padding: 10px 30px;
    margin: 10px;
    background-color: white;
    position: relative;
	top: -60px;
	left: 35%;
    text-align: center;
}



/******************
PANELS
******************/

.panel {
	width: 100%;
}

#small-panel {
	height: 350px;
}

.panel-heading {
	background-color: #000; 
	color: white; 
	font-family: 'Work Sans', sans-serif;
}

i.material-icons {
	vertical-align: middle;
}

.title {
	vertical-align: middle;
}

/* Events */
#event-title {
	margin-bottom: 15px;
}

#event-titles {
	font-weight: bold;
}

.rwd-break { /* Line break point */
	display: none;
}

/* Discover beer */
#underline {
	text-decoration: underline;
}



/******************
WORKOUT INPUT
******************/

/* Submit button */
#find-beer {
	margin-top: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#beer-name {
	text-align: center;
}

/* Options dropdown */
#workout {
	margin-bottom: 10px;
}

/* Form inputs */
#workout-length-input {
	margin-top: 0px;
}

#activity-length {
	margin-bottom: 10px;
}



/******************
SEARCH RESULTS
******************/

/* Input form */
#change-beer-preference {
	margin-top: 10px;
	margin-left: 15px;
}

/* Button */
#change-beer {
	display: inline;
}

/* Results */
#beer-titles {
	font-size: 1.1em;
	margin-bottom: 0;
	color: #999999;
}

#beer-results-name {
	color: #AA0000;
	font-weight: bolder;
	font-size: 1.2em;
}

#brewery {
	font-size: .9em;
	margin-bottom: -10px;
}

#red {
	color: #AA0000;
}

#light-gray {
	color: #999999;
}

#description {
	line-height: 1.75;
}

#worth {
	margin-top: 15px;
}

#amount {
	font-weight: bold;
	font-size: 1.2em;
}

#workout-information {
	overflow: hidden;
}



/*******************************
419px and smaller
********************************/
@media screen and (max-width: 419px) {
	.rwd-break {
		display: block;
	}

	/* .event-info {
		height: 200px;
	} */

	/* Location input */
	#workout-location {
		width: 90px;
	}

}