

.container-fluid {
	background-color: #339966;
}

.jumbotron {
	background-image: url(Beer-Taps-2.jpg);
	background-size: 100%;
	background-repeat: none;
}

#find-beer {
	margin-top: 10px;
}

.panel {
	width: 100%;
}

#small-panel {
	height: 350px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#beer-name {
	text-align: center;
}

#beer-titles {
	font-size: 1.2em;
	margin-bottom: 0;
}

#change-beer {
	display: inline;
}

#change-beer-preference {
	margin-top: 5px;
	margin-left: 5px;
}