/******************
GENERAL
******************/

body {
	box-sizing: border-box;
	background-image: url(wood_background.jpg);
}

.container-fluid{
	background-color: black;
}

p{
	font-family:'Work Sans', sans-serif;
}

/* Panels */
.panel {
	width: 100%;
}

#small-panel {
	height: 350px;
}

.panel-heading {
	background-color: #000; 
	color: white; 
	font-family: 'Work Sans', sans-serif;
}

i.material-icons {
	vertical-align: middle;
}

.title {
	vertical-align: middle;
}

#event-title {
	margin-bottom: 15px;
}



/******************
NAVBAR
******************/

.navbar-collapse {
	background-color:#000;
}

.navbar-header {
	font-family:'Bitter', serif;
	background-color:black;
}

.navbar-brand {
	color: white; 
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; 
	font-size: 40px;
	font-family:'Bitter', serif; 
	margin-bottom: 10px;
	margin-left: 15px;
}



/******************
JUMBOTRON
******************/
.jumbotron {
	background-image: url(craftbeer.jpg);
	background-position: fixed; 
	background-size: 100%;
	background-repeat: no-repeat;
}

.jumbotron .container {
    width: fit-content;
    padding: 10px 30px;
    margin: 10px;
    background-color: white;
    position: relative;
	top: -60px;
	left: 35%;
    text-align: center;
}




/******************
WORKOUT INPUT
******************/

/* Submit button */
#find-beer {
	margin-top: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#beer-name {
	text-align: center;
}

#workout {
	margin-bottom: 10px;
}

#workout-length-input {
	margin-top: 0px;
}

#activity-length {
	margin-bottom: 10px;
}


/******************
SEARCH RESULTS
******************/

/* Form */
#change-beer-preference {
	margin-top: 10px;
	margin-left: 15px;
}

/* Button */
#change-beer {
	display: inline;
}

/* Results */
#beer-titles {
	font-size: 1.1em;
	margin-bottom: 0;
}

#brewery {
	font-size: .9em;
	margin-bottom: -10px;
}

#description {
	line-height: 1.75;
}

/* html, body {
    overflow-x: hidden;
    overflow-y: auto;
} */

#worth {
	margin-top: 15px;
}
